body {
    font-family: Arial;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    background-color: aqua;
}
h1, h2 {
  color: #2a2a2a;
}

#products-container, #cart-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

button {
  background-color: #007bff;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 20px;
  font-weight: bold;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}